/* Variables */
.cart-account {
  top: 37px; }

.top #top-menu,
.top-union #top-menu {
  height: 30px; }
  .top #top-menu .menu-wrap,
  .top-union #top-menu .menu-wrap {
    height: auto;
    top: 30px; }

#saf-default .header {
  background-color: #e10098;
  background-image: url("//nusdigital.s3.amazonaws.com/image/images/344154/original/header-bg.png"); }

#saf-default .bottom, #saf-default .bottom-union, #saf-default .bottom-subsite {
  background-color: #e10098;
  border-top: 10px solid #770050; }
  #saf-default .bottom .section.powered-by, #saf-default .bottom-union .section.powered-by, #saf-default .bottom-subsite .section.powered-by {
    background-color: #e10098;
    border-top: unset; }
#saf-default .column .column-content {
  min-height: unset; }
#saf-default .logos p {
  display: flex;
  align-items: center; }
#saf-default .logos img {
  max-height: 120px;
  margin-right: 1em; }
#saf-default #nus-logo {
  height: 80px; }
#saf-default #sparqs-logo {
  height: 120px; }
#saf-default #sfc-logo {
  height: 100px; }

.uc-poweredby-nusdigital-logo-wrapper {
  text-align: center; }
  .uc-poweredby-nusdigital-logo-wrapper .floatRight {
    float: unset; }
  .uc-poweredby-nusdigital-logo-wrapper a {
    display: flex;
    justify-content: center; }

.row.content {
  padding-top: 65px; }

#hero-image {
  width: 100%;
  background: #4E0073;
  overflow: hidden; }

#hero-image-wrap {
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
  background: #4E0073; }

.jcarousel-container-horizontal {
  position: absolute !important;
  bottom: 20px;
  z-index: 100;
  width: 100%; }

.uc-slider-wrapper .uc-rslides_container {
  padding-bottom: 0; }
  .uc-slider-wrapper .uc-rslides_container .centered-btns_nav.prev, .uc-slider-wrapper .uc-rslides_container .centered-btns_nav.next {
    background-position-y: -10px;
    border-radius: 50%;
    height: 40px; }

.signin-block span.error {
  margin: 0 auto;
  width: 550px;
  top: 70px;
  height: 2em;
  border: solid #ca8484 3px;
  background-color: #ff0303;
  padding-left: 1em;
  color: white;
  font-size: 1.1em;
  line-height: 2em;
  background-image: none; }
  .signin-block span.error * {
    box-sizing: border-box; }
.signin-block #new_user {
  width: 30em;
  margin: 0 auto; }
  .signin-block #new_user * {
    box-sizing: border-box; }
  .signin-block #new_user #user_email,
  .signin-block #new_user #user_password,
  .signin-block #new_user #token-input-user_fw_organisation_ids {
    width: 100%;
    font-size: 1.4em;
    padding: 0.8em;
    box-shadow: none; }
  .signin-block #new_user .token-input-list-facebook {
    font-size: 0.9em; }
    .signin-block #new_user .token-input-list-facebook .token-input-token-facebook {
      font-size: inherit; }
  .signin-block #new_user .password-block {
    width: 105%;
    margin: 0 -2.5%; }
  .signin-block #new_user #user_submit_action .button {
    background-color: #e19600; }

.uc-cookie-block {
  position: fixed;
  width: 30em;
  bottom: 2em;
  right: 2em;
  left: unset;
  background: white;
  border-radius: 1.6em; }
  .uc-cookie-block * {
    box-sizing: border-box; }
  .uc-cookie-block .uc-cookie-block-wrapper {
    width: 100%;
    padding: 2em; }
    .uc-cookie-block .uc-cookie-block-wrapper h2, .uc-cookie-block .uc-cookie-block-wrapper p {
      color: #444444; }
    .uc-cookie-block .uc-cookie-block-wrapper p {
      font-size: 1em;
      line-height: 1.5em; }
    .uc-cookie-block .uc-cookie-block-wrapper a.uc-cookie-find-more {
      text-decoration: underline;
      color: #e19600;
      font-size: 1em; }
    .uc-cookie-block .uc-cookie-block-wrapper #uc-cookie-continue-id {
      border: solid 1px #008300;
      border-radius: 1em;
      background-color: #82b682;
      color: white;
      background-position-x: 13px;
      padding: 0.5em 1em 0.7em 2.4em;
      margin-top: 0.5em;
      display: inline-block; }

#student_view_notice #notice_and_error * {
  box-sizing: border-box; }
#student_view_notice #notice_and_error #notice {
  width: 980px;
  top: 70px;
  height: 3em;
  border: solid #82b682 3px;
  background: #008300;
  padding-left: 1em;
  color: white;
  font-size: 1.1em;
  line-height: 2em; }
  #student_view_notice #notice_and_error #notice a::before {
    content: 'X'; }
  #student_view_notice #notice_and_error #notice a {
    display: block;
    background-image: url("https://nusdigital.s3.amazonaws.com/image/images/346271/original/close.png");
    width: 30px;
    height: 30px;
    background-size: 100%; }

body[class^="uc-page-class-"] .row.content .row, div[class*=" uc-page-class-"] .row.content .row {
  display: flex; }
  body[class^="uc-page-class-"] .row.content .row .left-nav-content, div[class*=" uc-page-class-"] .row.content .row .left-nav-content {
    width: unset;
    max-width: 24%;
    padding-right: 30px; }
    body[class^="uc-page-class-"] .row.content .row .left-nav-content .tree-navigation, div[class*=" uc-page-class-"] .row.content .row .left-nav-content .tree-navigation {
      background: none; }
      body[class^="uc-page-class-"] .row.content .row .left-nav-content .tree-navigation .nav-level-one h3, div[class*=" uc-page-class-"] .row.content .row .left-nav-content .tree-navigation .nav-level-one h3 {
        margin: 1em 0 0;
        padding: 0; }
        body[class^="uc-page-class-"] .row.content .row .left-nav-content .tree-navigation .nav-level-one h3 a, div[class*=" uc-page-class-"] .row.content .row .left-nav-content .tree-navigation .nav-level-one h3 a {
          color: #e10098; }
        body[class^="uc-page-class-"] .row.content .row .left-nav-content .tree-navigation .nav-level-one h3 a.selected, div[class*=" uc-page-class-"] .row.content .row .left-nav-content .tree-navigation .nav-level-one h3 a.selected {
          color: white;
          background: #e10098;
          padding: 0.5em 1em; }
    body[class^="uc-page-class-"] .row.content .row .left-nav-content #uc-left-navigation li, div[class*=" uc-page-class-"] .row.content .row .left-nav-content #uc-left-navigation li {
      border-color: rgba(225, 0, 152, 0.2); }

#breadcrumb-container {
  background: rgba(225, 0, 152, 0.2);
  width: 100%;
  margin: 0;
  max-width: 100%; }
  #breadcrumb-container .breadcrumb {
    max-width: 1331px;
    margin: 0 auto;
    background: none; }
    #breadcrumb-container .breadcrumb a {
      color: #770050; }
    #breadcrumb-container .breadcrumb #crumbs li:last-of-type a {
      background: none; }

.content-wrap > .section.list .list-wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em 2em;
  text-align: center;
  font-size: 1.4em; }
  .content-wrap > .section.list .list-wrap h1 {
    font-weight: normal;
    font-size: 2em;
    color: inherit;
    border: none; }
  .content-wrap > .section.list .list-wrap .horizontal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2em; }
  .content-wrap > .section.list .list-wrap .horizontal-buttons a {
    display: block;
    border-radius: 2em;
    border: solid 2px white;
    color: white;
    text-decoration: none;
    margin: 0 1em;
    padding: 1em 2em;
    min-width: 13em; }

.section h2 {
  color: inherit;
  font-size: 2em; }

.section.column.mint,
.section.list.mint {
  background-color: rgba(0, 225, 152, 0.1); }
  .section.column.mint .column-wrap, .section.column.mint .list-wrap,
  .section.list.mint .column-wrap,
  .section.list.mint .list-wrap {
    color: #00855b; }
    .section.column.mint .column-wrap .horizontal-buttons a, .section.column.mint .list-wrap .horizontal-buttons a,
    .section.list.mint .column-wrap .horizontal-buttons a,
    .section.list.mint .list-wrap .horizontal-buttons a {
      background-color: #00e198; }

.section.column.orange,
.section.list.orange {
  background-color: #f9e9ca; }
  .section.column.orange .column-wrap, .section.column.orange .list-wrap,
  .section.list.orange .column-wrap,
  .section.list.orange .list-wrap {
    color: #6e1f00; }
    .section.column.orange .column-wrap .horizontal-buttons a, .section.column.orange .list-wrap .horizontal-buttons a,
    .section.list.orange .column-wrap .horizontal-buttons a,
    .section.list.orange .list-wrap .horizontal-buttons a {
      background-color: #e19600; }

.section.column.pink,
.section.list.pink {
  background-color: rgba(225, 0, 152, 0.2); }
  .section.column.pink .column-wrap, .section.column.pink .list-wrap,
  .section.list.pink .column-wrap,
  .section.list.pink .list-wrap {
    color: #770050; }
    .section.column.pink .column-wrap .horizontal-buttons a, .section.column.pink .list-wrap .horizontal-buttons a,
    .section.list.pink .column-wrap .horizontal-buttons a,
    .section.list.pink .list-wrap .horizontal-buttons a {
      background-color: #e10098; }

.content-wrap > .section.column {
  width: 100%; }
  .content-wrap > .section.column .column-wrap {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap; }

#video-and-news {
  margin: 2em 0; }
  #video-and-news #left-column-column-content {
    max-width: 560px; }
  #video-and-news #right-column-column-content {
    max-width: 100%; }
  #video-and-news #latest-articles > div .article-widget .top-articles li .article-content .article-description,
  #video-and-news #latest-articles > div .article-widget.with-image-description .top-articles li .article-description {
    font-size: 1.1em;
    line-height: 1.2em; }
  #video-and-news #latest-articles > div .jcarousel-container-vertical {
    background: #f9e9ca; }
  #video-and-news #latest-articles > div .jcarousel-prev-vertical, #video-and-news #latest-articles > div .jcarousel-next-vertical {
    background-color: #e19600;
    opacity: 1; }
  #video-and-news #latest-articles > div .jcarousel-next-vertical {
    bottom: 0px; }
  #video-and-news #latest-articles > div .jcarousel-nerxt-disabled-vertical, #video-and-news #latest-articles > div .jcarousel-prev-disabled-vertical {
    display: none; }
  #video-and-news #latest-articles > div .article-widget {
    color: #6e1f00;
    height: 470px; }
    #video-and-news #latest-articles > div .article-widget .jcarousel-clip-vertical {
      margin: 29px 0;
      width: 100%;
      height: 400px; }
    #video-and-news #latest-articles > div .article-widget .top-articles li {
      border-color: #6e1f00;
      margin: 0;
      width: calc( 100% - 3em );
      padding: 1.5em; }
    #video-and-news #latest-articles > div .article-widget .date a {
      color: #6e1f00;
      margin-bottom: 0; }
    #video-and-news #latest-articles > div .article-widget .headline {
      margin-top: 0;
      padding-top: 0; }
    #video-and-news #latest-articles > div .article-widget .headline a {
      font-size: 1.6em;
      color: #6e1f00; }
    #video-and-news #latest-articles > div .article-widget .article-thumbnail {
      display: none; }
    #video-and-news #latest-articles > div .article-widget .article-content {
      padding-left: 0; }
  #video-and-news #latest-articles > div .more-articles::before {
    content: 'Show '; }
  #video-and-news #latest-articles > div .more-articles {
    position: relative;
    top: unset;
    right: unset;
    display: block;
    margin-top: 2.5em;
    font-size: 1em; }
  #video-and-news #latest-articles > div .more-articles::after {
    content: ' \00bb'; }

#podcasts-events {
  margin: 5em 0 0;
  padding-top: 2em; }
  #podcasts-events h2 {
    padding-bottom: 0; }
  #podcasts-events #podcaset-events-wrap {
    flex-wrap: nowrap; }
  #podcasts-events #podcasts-section-column-content {
    width: 400px; }
    #podcasts-events #podcasts-section-column-content #podcast-player-wrapper {
      background: white;
      padding: 1em; }
    #podcasts-events #podcasts-section-column-content #podcast-list {
      list-style: none;
      margin-bottom: 1em;
      max-height: 21.5em;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-color: #6e1f00 #e19600; }
      #podcasts-events #podcasts-section-column-content #podcast-list li a {
        display: block;
        background-color: #e19600;
        color: white;
        margin-bottom: 0em;
        padding: 0.5em 1.5em;
        border-bottom: 1px solid white; }
    #podcasts-events #podcasts-section-column-content #podcast-list::-webkit-scrollbar {
      background-color: white; }
    #podcasts-events #podcasts-section-column-content #podcast-list::-webkit-scrollbar-thumb {
      background-color: #e19600; }
  #podcasts-events #events-column-content {
    flex-grow: 1; }
    #podcasts-events #events-column-content h2 {
      padding-bottom: 0;
      margin: 0; }
    #podcasts-events #events-column-content .uc-widget-upcoming-events {
      position: relative;
      top: -1.2em; }
      #podcasts-events #events-column-content .uc-widget-upcoming-events .threecol {
        width: 100%; }
      #podcasts-events #events-column-content .uc-widget-upcoming-events .ninecol {
        width: 100%; }
      #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-upcoming-event-widget-title {
        display: none; }
      #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel {
        background: none; }
        #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .with-image-description {
          padding: 0; }
          #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .with-image-description .eventsearch {
            position: absolute;
            top: 1.2em; }
        #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .uc-widget-upcoming-event-footer {
          background: none;
          padding-top: 1em; }
          #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .uc-widget-upcoming-event-footer .uc-widget-upcoming-event-pagination {
            float: left; }
        #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .uc-widget-upcoming-event-row {
          display: flex;
          flex-wrap: wrap; }
          #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .uc-widget-upcoming-event-row .upcoming-event-container {
            float: unset; }
            #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .uc-widget-upcoming-event-row .upcoming-event-container * {
              float: unset; }
          #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .uc-widget-upcoming-event-row .upcoming-event-container {
            border: none;
            max-width: 240px;
            margin-right: 1em; }
            #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .uc-widget-upcoming-event-row .upcoming-event-container .event-banner {
              margin: 0 0 -4px 0;
              padding: 0;
              background: red; }
              #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .uc-widget-upcoming-event-row .upcoming-event-container .event-banner img {
                padding: 0;
                margin: 0; }
            #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .uc-widget-upcoming-event-row .upcoming-event-container .event-details {
              background: #e19600;
              padding-top: 1em;
              margin-top: 0; }
            #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-right-panel .uc-widget-upcoming-event-row .upcoming-event-container .event-name {
              width: calc(100% - 2em);
              background: #e19600;
              overflow: unset;
              text-overflow: unset;
              font-size: 1em;
              white-space: normal;
              padding: 0 1em 1em; }
      #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-left-panel .tree-navigation {
        background: none;
        margin-left: 14.4em; }
        #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-left-panel .tree-navigation h3 {
          color: inherit;
          border-bottom: none; }
        #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-left-panel .tree-navigation ul {
          display: flex; }
          #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-left-panel .tree-navigation ul li {
            border: none;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 0.5em;
            padding: 0.5em 1em;
            margin: 0 0.2em 0 0; }
            #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-left-panel .tree-navigation ul li a {
              color: inherit; }
          #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-left-panel .tree-navigation ul li.selected {
            background: rgba(0, 0, 0, 0.1); }
            #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-left-panel .tree-navigation ul li.selected a {
              color: inherit; }

body[class^="uc-page-class-"] .row.content .row, div[class*=" uc-page-class-"] .row.content .row {
  display: flex;
  margin-top: 1em;
  /* Menu styles loaded at this level so these only apply in 2 column mode */ }
  body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol, div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol {
    max-width: 76%; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol > div, div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol > div {
      padding-left: 48px;
      background-position: -10px top; }
  body[class^="uc-page-class-"] .row.content .row > .content-wrap,
  body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol, div[class*=" uc-page-class-"] .row.content .row > .content-wrap,
  div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol {
    width: unset;
    padding-left: 0px; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap .inside-border-padding > h1:first-of-type,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol .inside-border-padding > h1:first-of-type, div[class*=" uc-page-class-"] .row.content .row > .content-wrap .inside-border-padding > h1:first-of-type,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol .inside-border-padding > h1:first-of-type {
      margin: 0; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap p,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol p, div[class*=" uc-page-class-"] .row.content .row > .content-wrap p,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol p {
      font-size: 1em; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap a,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol a, div[class*=" uc-page-class-"] .row.content .row > .content-wrap a,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol a {
      color: #e10098; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap hr,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol hr, div[class*=" uc-page-class-"] .row.content .row > .content-wrap hr,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol hr {
      background-color: #e10098;
      border: none;
      height: 4px;
      margin: 2em 2em; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap h1, body[class^="uc-page-class-"] .row.content .row > .content-wrap h2, body[class^="uc-page-class-"] .row.content .row > .content-wrap h3, body[class^="uc-page-class-"] .row.content .row > .content-wrap h4,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol h1,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol h2,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol h3,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol h4, div[class*=" uc-page-class-"] .row.content .row > .content-wrap h1, div[class*=" uc-page-class-"] .row.content .row > .content-wrap h2, div[class*=" uc-page-class-"] .row.content .row > .content-wrap h3, div[class*=" uc-page-class-"] .row.content .row > .content-wrap h4,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol h1,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol h2,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol h3,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol h4 {
      color: #770050;
      border-color: #e10098;
      padding: 0 0 0.2em;
      margin: 1em 0 0.2em; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap h1,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol h1, div[class*=" uc-page-class-"] .row.content .row > .content-wrap h1,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol h1 {
      font-size: 2.2em; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap h2,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol h2, div[class*=" uc-page-class-"] .row.content .row > .content-wrap h2,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol h2 {
      font-size: 1.6em; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap h3,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol h3, div[class*=" uc-page-class-"] .row.content .row > .content-wrap h3,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol h3 {
      font-size: 1.4em; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap h4,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol h4, div[class*=" uc-page-class-"] .row.content .row > .content-wrap h4,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol h4 {
      font-size: 1.1em; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap h5,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol h5, div[class*=" uc-page-class-"] .row.content .row > .content-wrap h5,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol h5 {
      font-size: 1em; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap input[type="submit"], body[class^="uc-page-class-"] .row.content .row > .content-wrap input[type="button"], body[class^="uc-page-class-"] .row.content .row > .content-wrap input[type="reset"], body[class^="uc-page-class-"] .row.content .row > .content-wrap button,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol input[type="submit"],
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol input[type="button"],
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol input[type="reset"],
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol button, div[class*=" uc-page-class-"] .row.content .row > .content-wrap input[type="submit"], div[class*=" uc-page-class-"] .row.content .row > .content-wrap input[type="button"], div[class*=" uc-page-class-"] .row.content .row > .content-wrap input[type="reset"], div[class*=" uc-page-class-"] .row.content .row > .content-wrap button,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol input[type="submit"],
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol input[type="button"],
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol input[type="reset"],
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol button {
      background-color: #e10098;
      border: none;
      padding: 0.4em 1em;
      font-size: 1em;
      cursor: pointer; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap input, body[class^="uc-page-class-"] .row.content .row > .content-wrap option, body[class^="uc-page-class-"] .row.content .row > .content-wrap select,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol input,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol option,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol select, div[class*=" uc-page-class-"] .row.content .row > .content-wrap input, div[class*=" uc-page-class-"] .row.content .row > .content-wrap option, div[class*=" uc-page-class-"] .row.content .row > .content-wrap select,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol input,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol option,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol select {
      font-size: 1em; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap textarea,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol textarea, div[class*=" uc-page-class-"] .row.content .row > .content-wrap textarea,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol textarea {
      font-size: 1.3em; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap input[type="submit"]:disabled, body[class^="uc-page-class-"] .row.content .row > .content-wrap button:disabled,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol input[type="submit"]:disabled,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol button:disabled, div[class*=" uc-page-class-"] .row.content .row > .content-wrap input[type="submit"]:disabled, div[class*=" uc-page-class-"] .row.content .row > .content-wrap button:disabled,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol input[type="submit"]:disabled,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol button:disabled {
      color: rgba(0, 0, 0, 0.3);
      background-color: rgba(225, 0, 152, 0.5);
      cursor: not-allowed; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap input[type="reset"],
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol input[type="reset"], div[class*=" uc-page-class-"] .row.content .row > .content-wrap input[type="reset"],
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol input[type="reset"] {
      border: solid 1px #ff0303;
      color: #ff0303;
      background-color: unset; }
    body[class^="uc-page-class-"] .row.content .row > .content-wrap blockquote,
    body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol blockquote, div[class*=" uc-page-class-"] .row.content .row > .content-wrap blockquote,
    div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol blockquote {
      background: rgba(225, 0, 152, 0.2);
      padding: 1em;
      margin-top: 1em;
      border-color: #e10098; }
      body[class^="uc-page-class-"] .row.content .row > .content-wrap blockquote p:last-of-type,
      body[class^="uc-page-class-"] .row.content .row > .content-wrap.ninecol blockquote p:last-of-type, div[class*=" uc-page-class-"] .row.content .row > .content-wrap blockquote p:last-of-type,
      div[class*=" uc-page-class-"] .row.content .row > .content-wrap.ninecol blockquote p:last-of-type {
        margin: 0; }

/* Assesment System */
.row.content {
  min-height: unset; }

.fw-assessment * {
  float: unset;
  clear: unset; }
.fw-assessment .uc-vol-profile-tab-content {
  display: flex;
  flex-wrap: wrap; }
  .fw-assessment .uc-vol-profile-tab-content .uc-vol-tab-links {
    display: flex;
    width: 100%;
    border-bottom-color: #770050;
    background-color: rgba(225, 0, 152, 0.2); }
    .fw-assessment .uc-vol-profile-tab-content .uc-vol-tab-links a {
      display: block;
      border: none; }
    .fw-assessment .uc-vol-profile-tab-content .uc-vol-tab-links a.selected {
      border: none;
      background-color: #770050; }
  .fw-assessment .uc-vol-profile-tab-content > .clear {
    display: flex;
    width: 100%; }
    .fw-assessment .uc-vol-profile-tab-content > .clear #principle-activities {
      padding-left: 30px; }
      .fw-assessment .uc-vol-profile-tab-content > .clear #principle-activities .float-right.add-activity {
        float: right;
        border-color: #e10098;
        background-color: rgba(225, 0, 152, 0.2);
        color: #770050;
        font-weight: bold; }
  .fw-assessment .uc-vol-profile-tab-content .tree-navigation.threecol .selected {
    background-color: #770050; }
  .fw-assessment .uc-vol-profile-tab-content h1 {
    color: #e10098;
    border-color: rgba(225, 0, 152, 0.2); }
  .fw-assessment .uc-vol-profile-tab-content .download-assessment {
    width: 100%; }
.fw-assessment .development-last-updated-by, .fw-assessment #development-last-updated-by {
  width: 100%; }
.fw-assessment .assessment-last-updated-by {
  width: 100%;
  border-radius: 10px;
  border: solid 1px #b7c5ee; }
  .fw-assessment .assessment-last-updated-by .fw-info {
    border-radius: 8px 0 0 8px;
    background-color: #b7c5ee;
    color: #445991; }
  .fw-assessment .assessment-last-updated-by #assessment-last-updated-by {
    padding-top: 8px;
    color: #445991; }

.download-assessment {
  height: unset; }

/* Buttons */
.criteria-box .resources a.add-dev-plan, .criteria-box .resources a, .download-assessment a.add-dev-plan, .download-assessment a {
  border-color: #e10098;
  background-color: rgba(225, 0, 152, 0.2);
  color: #770050;
  font-weight: bold;
  padding: 0.9em 0.8em 0.9em 3.3em; }
.criteria-box .resources .upload-resource, .download-assessment .upload-resource {
  margin-left: 1em;
  float: left; }

.criteria-box .clear {
  clear: both; }

.download-assessment a {
  background-position-y: -70px; }

.criteria-box .resources a {
  background-position-y: -275px; }

.criteria-box .resources a.add-dev-plan {
  padding-left: 1.3em; }

.row .buttonLink, .action.input_action input {
  background-color: #e10098; }

#principle-details .description p {
  margin-bottom: 1.3em; }
#principle-details ul {
  padding-left: 1.5em;
  margin-top: 1em; }
#principle-details h1 {
  font-size: 2.4em;
  color: #e10098;
  font-weight: normal; }
#principle-details h2 {
  font-size: 1.8em;
  color: #e10098;
  font-weight: normal; }
#principle-details .button {
  font-size: 1em;
  padding: 0.5em 2em;
  border-radius: 2em;
  margin: 1em 0 0.5em 0;
  float: unset;
  display: inline-block;
  width: auto;
  background: #e10098; }

.criteria-detailed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: solid 2px #e10098; }
  .criteria-detailed .details {
    width: 100%; }
  .criteria-detailed .example-evidence {
    width: 48%; }
  .criteria-detailed .example-questions {
    width: 48%; }

#event-homepage {
  display: flex;
  flex-wrap: wrap; }
  #event-homepage .heading h1 {
    display: none; }
  #event-homepage #left-panel {
    width: 100%;
    background: none;
    margin-top: 1em; }
    #event-homepage #left-panel .tree-navigation {
      padding: 0;
      background: none; }
    #event-homepage #left-panel h3 {
      display: none; }
    #event-homepage #left-panel ul {
      display: flex; }
      #event-homepage #left-panel ul li {
        border-radius: 0.3em;
        border: none; }
      #event-homepage #left-panel ul li.selected {
        background: #e19600; }
  #event-homepage #right-panel {
    width: 100%; }
    #event-homepage #right-panel #eventcarousel {
      background: none; }
      #event-homepage #right-panel #eventcarousel .event-type-title h2 {
        border: none;
        background: none; }
      #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul {
        display: flex; }
        #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li {
          max-width: 20em;
          margin-right: 1em;
          box-shadow: 4px 4px 4px 2px #ddd; }
          #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container {
            width: auto; }
            #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container .event-box {
              margin: 0;
              display: flex;
              flex-direction: column; }
              #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container .event-box * {
                box-sizing: border-box; }
              #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container .event-box * {
                float: unset; }
              #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container .event-box img {
                width: 100%; }
              #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container .event-box .event-name {
                text-overflow: unset;
                overflow: unset;
                white-space: normal;
                background: #e19600;
                padding: 0.2em 1em;
                width: 100%;
                min-height: 3em;
                order: 2; }
              #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container .event-box .event-banner {
                margin: 0 0 0;
                padding: 0;
                width: 100%;
                order: 1;
                margin-bottom: -3px;
                margin-right: -2px; }
              #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container .event-box .event-details {
                order: 3;
                width: unset;
                margin: 0.5em 0 0 0; }
                #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container .event-box .event-details .venue::before {
                  content: 'Location:';
                  font-weight: bold; }
                #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container .event-box .event-details .event-status {
                  display: none; }
                #event-homepage #right-panel #eventcarousel #uc-event-right-panel-listing ul li .event-container .event-box .event-details .event-date::before {
                  content: 'When: ';
                  font-weight: bold; }

body[id^="union-event-id-"] .threecol .title, body[id^="union-event-id-"] .clubSubMenu, div[id*=" union-event-id-"] .threecol .title, div[id*=" union-event-id-"] .clubSubMenu {
  display: none; }
body[id^="union-event-id-"] .event-details-wrapper, div[id*=" union-event-id-"] .event-details-wrapper {
  margin-top: 2em; }
body[id^="union-event-id-"] .tree-navigation ul.latestEventLeftSide li.selected,
body[id^="union-event-id-"] .tree-navigation .thumbnail li.selected, div[id*=" union-event-id-"] .tree-navigation ul.latestEventLeftSide li.selected,
div[id*=" union-event-id-"] .tree-navigation .thumbnail li.selected {
  border: none; }

#uc-articles-news .uc-result-count {
  display: none; }
#uc-articles-news .uc-articles-page-wrapper {
  display: flex;
  flex-direction: column; }
  #uc-articles-news .uc-articles-page-wrapper .uc-articles-wrapper {
    order: 1; }
  #uc-articles-news .uc-articles-page-wrapper .page-separator {
    order: 2; }
  #uc-articles-news .uc-articles-page-wrapper img[src^="https://www.unioncloud.org/assets/default"] {
    display: none; }
  #uc-articles-news .uc-articles-page-wrapper .featured-news-block h2.news-headline {
    font-size: 1.75em; }
  #uc-articles-news .uc-articles-page-wrapper .featured-news-block .featured-news-block-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 25em; }
  #uc-articles-news .uc-articles-page-wrapper .uc-articles-row {
    display: flex; }
    #uc-articles-news .uc-articles-page-wrapper .uc-articles-row .uc-articles-block {
      max-width: 33%;
      width: unset; }
  #uc-articles-news .uc-articles-page-wrapper .uc-articles-list-block .uc-news-headline h3 a, #uc-articles-news .uc-articles-page-wrapper .uc-articles-list-block .uc-articles-summary {
    font-size: 1em; }
  #uc-articles-news .uc-articles-page-wrapper .uc-articles-list-block .uc-news-date-time a {
    font-size: 0.8em; }

#resource-homepage .page-separator {
  display: none; }
#resource-homepage .uc-document-list {
  display: inline-flex;
  flex-wrap: wrap; }
  #resource-homepage .uc-document-list .uc-document-row {
    display: inline-flex;
    flex-wrap: wrap; }
    #resource-homepage .uc-document-list .uc-document-row .uc-document-block {
      width: 40%;
      float: unset;
      border: unset;
      -webkit-box-shadow: unset; }
      #resource-homepage .uc-document-list .uc-document-row .uc-document-block .uc-doc-bg-ext,
      #resource-homepage .uc-document-list .uc-document-row .uc-document-block .uc-doc-cover-image {
        float: left;
        margin-right: 0.5em;
        margin-bottom: 1.5em; }
      #resource-homepage .uc-document-list .uc-document-row .uc-document-block .uc-document-titles h2 {
        font-size: 1.3em; }
      #resource-homepage .uc-document-list .uc-document-row .uc-document-block .uc-doc-upload-time,
      #resource-homepage .uc-document-list .uc-document-row .uc-document-block .uc-resource-summary {
        font-size: unset;
        clear: none; }
      #resource-homepage .uc-document-list .uc-document-row .uc-document-block .uc-resource-show-download {
        display: flex;
        justify-content: flex-end;
        clear: left; }
        #resource-homepage .uc-document-list .uc-document-row .uc-document-block .uc-resource-show-download .uc-resource-download-link, #resource-homepage .uc-document-list .uc-document-row .uc-document-block .uc-resource-show-download .uc-resource-details-link {
          background: #e10098;
          padding: 0.5em 1em;
          font-size: 1em;
          float: unset; }
#resource-homepage #load_more_doc a {
  box-shadow: none;
  background: none;
  display: block;
  width: 20em;
  margin: 0 auto;
  border-radius: 1em;
  border: solid 1px #e10098;
  color: #e10098; }

#uc-resource-details * {
  box-sizing: border-box; }
#uc-resource-details .clear {
  clear: unset; }
#uc-resource-details h1 {
  display: none; }
#uc-resource-details .uc-resource-details-wrapper .uc-resource-name-summary {
  width: 80%;
  margin-left: 0;
  float: left; }
#uc-resource-details .uc-resource-details-wrapper .uc-resource-img {
  width: 20%;
  float: right; }
  #uc-resource-details .uc-resource-details-wrapper .uc-resource-img img {
    width: 100%;
    border: solid 1px #7c7c7c; }
#uc-resource-details .uc-resource-details-wrapper .uc-resource-download-link {
  float: right;
  clear: right;
  width: 20%;
  font-size: 1em; }
  #uc-resource-details .uc-resource-details-wrapper .uc-resource-download-link .uc-download-file-button {
    border-color: orange !important;
    background-color: #e19600 !important;
    color: white !important;
    height: 2.8em !important;
    padding: 1em !important;
    margin: 0.5em 0 !important;
    line-height: 0.8em !important; }
  #uc-resource-details .uc-resource-details-wrapper .uc-resource-download-link .uc-doc-extension {
    font-size: 0.8em; }
#uc-resource-details .uc-resource-details-wrapper .uc-resource-date-time {
  clear: unset;
  border: none; }
  #uc-resource-details .uc-resource-details-wrapper .uc-resource-date-time .uc-doc-upload-time {
    clear: unset; }
#uc-resource-details .uc-resource-details-wrapper .uc-resource-description {
  clear: unset;
  font-size: 1em; }
#uc-resource-details .uc-resource-details-wrapper .uc-resources-tags {
  clear: unset;
  font-size: 1em;
  color: #6e1f00; }
  #uc-resource-details .uc-resource-details-wrapper .uc-resources-tags .uc-resources-tags-heading {
    margin-top: 1em;
    font-size: 1em; }

.registration-form {
  font-size: 1em; }
  .registration-form fieldset ol li.unionemail p,
  .registration-form fieldset ol li.nusemail p,
  .registration-form fieldset ol li.commercialemail p,
  .registration-form fieldset ol li.nusemail .label-unionemail-wrapper,
  .registration-form fieldset ol li.smipost .label-smipost-wrapper,
  .registration-form fieldset ol li.smipost p,
  .registration-form fieldset ol li.unioncommercialemail p,
  .registration-form fieldset ol li.userdataconsent p {
    font-size: 1em; }
  .registration-form fieldset ol .input label {
    font-size: 1em; }
  .registration-form fieldset ol .input input {
    padding: 0.5em 1em;
    background-image: none;
    font-size: 1em; }
  .registration-form fieldset ol .input input:disabled {
    color: #7c7c7c;
    background: #c9c9c9; }
  .registration-form fieldset ol .input #user_email {
    width: 25em; }
  .registration-form .user-profile-picture-wrapper {
    display: none; }

.page-content-html #uc-page-id-podcasts-player #podcast-list::before {
  content: 'Postcast Series';
  font-size: 1.4em;
  margin: 1em 0 0.5em;
  display: block; }
.page-content-html #uc-page-id-podcasts-player #podcast-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }
  .page-content-html #uc-page-id-podcasts-player #podcast-list li {
    margin-bottom: 1em; }
    .page-content-html #uc-page-id-podcasts-player #podcast-list li a {
      display: block;
      padding: 1em;
      width: 100%;
      background: #e10098;
      color: white; }

@media only screen and (max-width: 980px) {
  .bottom .column-content, .bottom-union .column-content, .bottom-subsite .column-content {
    float: unset;
    width: 100%; }

  #podcasts-events #events-column-content .uc-widget-upcoming-events .uc-widget-upcoming-events-wrapper #uc-widget-upcoming-events-left-panel .tree-navigation {
    margin-left: 0;
    margin-top: 5em; }

  .horizontal-buttons {
    flex-wrap: wrap; } }
@media only screen and (max-width: 820px) {
  #podcasts-events #podcasts-section-column-content {
    width: 100%; }

  #events-column-content {
    padding: 1em; }

  #video-and-news #left-column-column-content {
    max-width: unset;
    width: 100%; } }
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 768px) {
  .row.content {
    padding-top: 0; } }
.content .row .content-wrap ul,
.column .column-content {
  font-size: 1em; }

p, s.content .row .content-wrap p {
  font-size: 1em;
  line-height: 1.4em; }

.contentContainer {
  padding-top: 2em; }

h1, h2, h3, h4 {
  color: #0c1722; }

/*# sourceMappingURL=saf.css.map */
