/* Version 1.8*/

/* Resturcturing page and removing elements */

#uc-group-homepage #left-content { display: none; }

#uc-group-homepage .wrap .content-wrap.home-content-wrap.subsites.ninecol.last { width: unset; }

#uc-group-homepage #right-content { width: unset;  display: flex; flex-wrap: wrap; }

#uc-group-homepage #right-content h1 {
    margin: 10px 25px 10px 15rem;
}

#uc-group-homepage #group-events {
    display: none;
}

#uc-group-homepage .group-type-name {
    max-width: 15rem;
}

#uc-group-homepage .content-wrap.ninecol>div.group-search {
    width: calc(55% - 45px);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#uc-group-homepage .search-box-wrapper {
    padding: 5px;
}

/* #uc-group-homepage .uc-middle-panel-for-group-cat { display: contents; } /* IE fix in JS */

#uc-group-homepage #your-societies .twelvecol { display: flex; flex-direction: row; }

/* left hand menu with group types listed  */

#uc-group-homepage .types-list {
    width: 15rem;
    margin-top: -80px;
}

@media handheld, only screen and (max-width: 950px) {
    #uc-group-homepage .types-list { margin-top: -150px; }
    #uc-group-homepage .search.group-search,
    #uc-group-homepage #right-content h1 {
        margin: 10px 25px 10px 30%;
    }
    #uc-group-homepage .group-types ul li { text-align: left;}
}

#uc-group-homepage .types-list .group-types, #uc-group-homepage .types-list .group-types-wrapper {
    background: #251f5e;
}

#uc-group-homepage .types-list .group-types ul li a {
    color: #fff;
}

#uc-group-homepage .types-list .group-types ul li.active a {
    color: #251f5e;
}

#uc-group-homepage .types-list li {
    padding: 0.5rem 1rem;
}

/* Group listing */

.uc-group-list-page-wrapper {
    display: contents;
    position: unset;
    bottom: 0;
    float: unset;
}

.category-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.group-box {
    width: 270px;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0px;
}

.group-box .group-name {
    display: block;
    width: unset;
    color: #ff7f40;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'intelobold', Helvetica, sans-serif;
    padding-top: 110px;
}

.group-box .group-banner {
    display: block;
    top: unset;
    position: unset;
    right: unset;
    color: #4e4d4d;
    font-size: 21px;
    overflow: visible;
    margin: 0;
    float: unset;
    position: absolute;
    top: 0;
    border-radius: 10%;
    border-width: 5px;
    border-color: rgba(33, 18, 97, 0.5);
    border-style: solid;
}

.group-box .group-details {
    width: 100%;
}

@media handheld, only screen and (max-width: 1339px) and (min-width: 1225px) {
    .group-box:nth-child(odd) {
        margin-left: 0%;
    }
}

@media handheld, only screen and (max-width: 1339px) and (min-width: 1225px) {
    .group-box:nth-child(even) {
        margin-left: 0%;
    }
}


@media screen and (max-width: 600px) {
    #uc-group-homepage #right-content .uc-middle-panel-for-group-cat {
        display: block;
    }
}

/* Group Details Page */

/* Navigation element */
#uc-groups-details-page .ui-widget-header { background-image: none; background-color: rgba(0,175,170,0.2); color: #fff;}
#uc-groups-details-page .ui-state-active, 
#uc-groups-details-page .ui-widget-content .ui-state-active, 
#uc-groups-details-page .ui-widget-header .ui-state-active  { 
    background-color: #00afaa; 
}
#uc-groups-details-page .ui-state-default a, 
#uc-groups-details-page .ui-state-default a:link, 
#uc-groups-details-page .ui-state-default a:visited { color: rgba(0,175,170,1); }

#uc-groups-details-page .ui-state-active a
#uc-groups-details-page .ui-widget-content .ui-state-active a, 
#uc-groups-details-page .ui-widget-header .ui-state-active a { 
    color: #fff;
}

/*  Main menu */
#uc-groups-details-page .tree-navigation ul li { list-style: none; background-image:none; text-indent:unset; margin-right:0;}
#uc-groups-details-page .tree-navigation ul.group-category li, #uc-groups-details-page .tree-navigation ul.group-category ul { padding-left: 0; margin-left:0;}
#uc-groups-details-page .group-category>li { display:none; }
#uc-groups-details-page .group-category>li:nth-of-type(1) { display:block; }
#uc-groups-details-page .group-category>li:nth-of-type(1) h4 { display:none; }
#uc-groups-details-page .group-category  ul.typeCategory { display: flex; flex-wrap: wrap; }
#uc-groups-details-page .group-category  ul.typeCategory li { background-position: 0 0; background-color: #e54360; color: #fff; display: block; padding:2px 7px; border-radius: 3px; margin:2px 5px; font-size: 0.8rem;}
#uc-groups-details-page .group-category li.group-awards { display:block; }
#uc-groups-details-page .tree-navigation ul li.selected a img { margin-left: 0; }
#uc-groups-details-page .group-cms-wrapper .top-container { display: none; }
#uc-groups-details-page .threecol.tree-navigation { border: none; }

@media screen and (max-width: 980px) {
    #uc-groups-details-page .group_left_panel_menu { 
        display: flex;
        flex-wrap: wrap;
    }
    #uc-groups-details-page .content-wrap {
        width:100%;
    }
    #uc-groups-details-page .group_left_panel_menu .title { width: 100%; } 
    #uc-groups-details-page .tree-navigation .title h1 { display: block; }
    #uc-groups-details-page .group_left_panel_menu .title h1 { margin-bottom:0; } 
    #uc-groups-details-page.group_left_panel_menu .thumbnail img { height: 100px;  }
    #uc-groups-details-page .content-wrap.ninecol>div.group-cms-wrapper  { padding-left:0;}
    #uc-groups-details-page .threecol.tree-navigation { margin-bottom: 0; }

    #uc-groups-details-page .top-union { min-width:0;}
}

#uc-groups-details-page .group_left_panel_menu .title h1, #uc-groups-details-page .content-wrap .portlet .contentBoxes h2 { font-size: 1.8em; }
#uc-groups-details-page p { font-size: 18px; margin-bottom: 1em; }
#uc-groups-details-page .tab hr { width: 80%; margin: 3rem 0;  border: 0; height: 1px; background: #ccc; }
#uc-groups-details-page h1 { font-size: 2.4em; margin-bottom: 0; }
#uc-groups-details-page h2 { font-size: 2em; display:block; }
#uc-groups-details-page h3 { font-size: 1.8em; display:block; }
#uc-groups-details-page blockquote { border-color: #ff7f40; }
#uc-groups-details-page .thumbnail-image.original { width:unset; }
#uc-groups-details-page .section.tab>h2 { display:none; }

#uc-groups-details-page .tab-content-wrapper-box div {  overflow:auto; clear: both; }
#uc-groups-details-page .tab-content-wrapper-box div .role {  display: block; font-size: 0.8em; color: #ff7f40;}


/* Tables */
table { border-collapse: collapse; max-width: 100%; width: 100%; caption-side: bottom; }
caption { font-size: 1.3em; color: #999; font-weight: normal; font-style: italic; }
table th { background-color: #251f5e; color: #fff; }
table td, table th {    font-size: 1.8em; padding: 0.2em 0.5em; text-align: left; border: solid 1px #251f5e;  }

/* Images */
img[style*="float: left"] { margin: 5px 15px 0px 0px; }
img[style*="float: right"] { margin: 5px 0px 0px 15px; }

/* Join Button */
.join-this-group.button-top { display:none; }