/* Version 1.8*/

/* Resturcturing page and removing elements */

#uc-group-homepage #left-content { display: none; }

#uc-group-homepage .wrap .content-wrap.home-content-wrap.subsites.ninecol.last { width: unset; }

#uc-group-homepage #right-content { width: unset;  display: flex; flex-wrap: wrap; }

#uc-group-homepage #right-content h1 {
    margin: 10px 25px 10px 15rem;
}

#uc-group-homepage #group-events {
    display: none;
}

#uc-group-homepage .group-type-name {
}

#uc-group-homepage .content-wrap.ninecol>div.group-search {
    width: calc(55% - 45px);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#uc-group-homepage .search-box-wrapper {
    padding: 5px;
}

#uc-group-homepage .uc-middle-panel-for-group-cat { display: contents; } /* IE fix in JS */

#uc-group-homepage #your-societies .twelvecol { display: flex; flex-direction: row; }

/* left hand menu with group types listed  */

#uc-group-homepage .types-list {
    width: 15rem;
    margin-top: -80px;
}

@media handheld, only screen and (max-width: 950px) {
    #uc-group-homepage .types-list { margin-top: -150px; }
    #uc-group-homepage .search.group-search,
    #uc-group-homepage #right-content h1 {
        margin: 10px 25px 10px 30%;
    }
    #uc-group-homepage .group-types ul li { text-align: left;}
}

#uc-group-homepage .types-list .group-types, #uc-group-homepage .types-list .group-types-wrapper {
    background: #251f5e;
}

#uc-group-homepage .types-list .group-types ul li a {
    color: #fff;
}

#uc-group-homepage .types-list .group-types ul li.active a {
    color: #251f5e;
}

#uc-group-homepage .types-list li {
    padding: 0.5rem 1rem;
}

/* Group listing */

.uc-group-list-page-wrapper {
    display: contents;
    position: unset;
    bottom: 0;
    float: unset;
}

.category-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.group-box {
    width: 270px;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0px;
}

.group-box .group-name {
    display: block;
    width: unset;
    color: #ff7f40;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'intelobold', Helvetica, sans-serif;
    padding-top: 110px;
}

.group-box .group-banner {
    display: block;
    top: unset;
    position: unset;
    right: unset;
    color: #4e4d4d;
    font-size: 21px;
    overflow: visible;
    margin: 0;
    float: unset;
    position: absolute;
    top: 0;
    border-radius: 10%;
    border-width: 5px;
    border-color: rgba(33, 18, 97, 0.5);
    border-style: solid;
}

.group-box .group-details {
    width: 100%;
}

@media handheld, only screen and (max-width: 1339px) and (min-width: 1225px) {
    .group-box:nth-child(odd) {
        margin-left: 0%;
    }
}

@media handheld, only screen and (max-width: 1339px) and (min-width: 1225px) {
    .group-box:nth-child(even) {
        margin-left: 0%;
    }
}


@media screen and (max-width: 600px) {
    #uc-group-homepage #right-content .uc-middle-panel-for-group-cat {
        display: block;
        background: red;
    }
    #uc-group-homepage #right-content h1 {
        margin: 0; width: 100%; max-width: 100%; font-size: 1.8em;
        text-align: center; font-family: 'intelobold',Helvetica,sans-serif;
    }
    #uc-group-homepage .content-wrap.ninecol>div.group-search {
        margin:0; width: 93%; max-width: 100%; display:block;
    }

    #uc-group-homepage .types-list { margin-top:0; width: 100%; max-width: unset; }
    /* #uc-group-homepage .types-list .group-types li{ display:none;  }
    #uc-group-homepage .types-list .group-types li.active{ display:block;  } */
    #uc-group-homepage .types-list .group-types-wrapper { min-height: unset; }
    #uc-group-homepage #your-societies .twelvecol { display:block; }

    #uc-group-homepage .group-box {
        width: 45%;
        min-height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 0px;
    }
    

}
