
    <!-- Skills Grid Section -->
    <section id="services">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Services</h2>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-12">
                    <p>We'd love to help you out with your new or exisating projects. Currently we are able to support you in any of the following areas.</p>
                </div>
            </div>
            <div class="portfolio-flex-row">

                <div class="portfolio-flex-item portfolio-item">
                    <h3>
                        <span>Online Apps</span>
                        <i class="fab fa-vuejs" style="color: #4fc08d;"></i>
                        <i class="fa fa-mobile-alt" style="color: #999;"></i> 
                        <i class="fab fa-react" style="color: #61dafb;"></i> 
                        
                    </h3>       
                    <p>We create small mobile websites that can be installed instantly and work offline. These progressive web apps cost a fraction of the cost of traditional app development.</p>
                </div>

                <div class="portfolio-flex-item portfolio-item">
                    <h3>
                        <span>Website</span>
                        <i class="fab fa-js"       style="color: #F0DB4F;"></i>
                        <i class="fab fa-html5"    style='color: #f06529;'></i>
                        <i class="fab fa-css3-alt" style='color: #1e88e5;'></i>
                        
                        
                    </h3>       
                    <p>The latest web technologies to build websites and online experiences. We're old hands with classic HTML, CSS & Javascript.</p>
                </div>

                

                <div class="portfolio-flex-item portfolio-item">
                    <h3>
                        <span>Backend</span>
                        <i class="fa fa-gem"  style="color: #cc0000;"></i> 
                        <i class="fa fa-database"  style="color: #242c44;"></i>
                        <i class="fab fa-php"  style="color: #8892BF;"></i> 
                        <i class="fab fa-aws"  style="color: #FF9900;"></i> 
                        
                    </h3>       
                    <p>Backend services like APIs and Databases as well as server based frameworks like Ruby on Rails, PHP deployed in the cloud to keep them running for you 24/7.</p>
                </div>

                <div class="portfolio-flex-item portfolio-item">
                    <h3>
                        <span>Projects</span>
                        <i class="fa fa-chart-line" style="color: #5c2aba;"></i>
                        <i class="fa fa-tasks"      style="color: #e6a83c;"></i> 
                        
                    </h3>       
                    <p>With decades of experience in both traditional waterfall and agile based methodologies, we can help kick start something new or get an existing project back on track.</p>
                </div>

                <div class="portfolio-flex-item portfolio-item">
                    <h3>
                        <span>Training</span>
                        <i class="fa fa-chalkboard-teacher" style="color: #8bc34a;"></i>
                        <i class="fa fa-graduation-cap"      style="color: #843511;"></i> 
                    </h3>       
                    <p>Anything we build comes with extensive training and support and if you have something already that doesn't well be happy to help.</p>
                </div>

                <div class="portfolio-flex-item portfolio-item">
                    
                </div>

                
            </div>
        </div>
    </section>