 <!-- Testimonials Section -->
  <section class="success" id="testimonials">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-12 text-center">
                <h2></h2>
                <hr class="star-light">
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Adam Bardsley Tech Consultancy recently opened its doors to support SME and charity customers with their technology needs. For the last 20 years Adam has been both a dedicated practioner and a successful leader in the HE and Charity sector and is excited to be bringing this to his own business.</p>
            </div>
            <div class="col-lg-4">
                <p>Whether you're a students' union looking to improve your online offering, a local business looking to attract clients, or a have an application idea the world simply has to see we can help you! </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div> 
        </div> -->
    </div>
</section> 
