:root {
  --brand-blue: rgb(0,174,239); /* #00aeef; /* : var(--brand-blue); */
  --lighter-blue: rgb(61,202,255);
}
/* Semi Reset */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Header */
#union-logo { margin:0; padding: 0; height: auto; }
#union-logo h1 { padding: 0; }

/* System Menu */
.system-menu { font-size: 1.2em; padding-right: 1em; }
.shopping-cart-menu { display: none; }
.cart-account { position: unset; } 
.profile-setting { width: unset; }
#user-profile-details { width: unset; }
.profile-setting a.profile-name { height: unset; font-size: 1.2em; }
.profile-setting a.profile-name.collapsed, 
.profile-setting a.profile-name.expanded { background-position: 100% 5px; padding-right: 1.5em; }
.profile-setting a.profile-name.expanded { background-position-y: -25px}

.profile-setting .profile-drop-down-menu { width: 100%; font-size: 1.2em; top: 2em; }
.profile-setting .profile-drop-down-menu ul li a { padding: 0.5em 1em; border: none; }
.profile-setting .profile-drop-down-menu { background-color: var(--lighter-blue); }


/* Menu */
.wrapper::before { display: none; }
.menu { position: relative; height: auto; margin-bottom: 1em; }
.menu ul li span , .menu ul li.first-menu span { padding:  1em; }
.menu { font-size: 1.1em; }
.menu { background-color: var(--brand-blue); }
.menu ul li span { background-image: none; }
.menu ul li { background-image: none; border: none; border-left: solid 1px #fff; text-align: center; }

/* Submenu */
.menu ul li .top-submenu-wrapper ul { width: 20em; }
.menu ul li.last-menu .top-submenu-wrapper ul { right: -4.1em; left: unset; }

