#liverpoolhopesu-default .cal-widget {
    margin-bottom:0;
    .calendar {
        background-color: #fff;
        padding: calc($base-margin/2) calc($base-margin/2) 0 calc($base-margin/2) ;
        table {
    
            caption {
                background-color: $base-green;
                height: unset;
            }
            thead {
                background-color: $light-green;
            }
            th,td { 
                border: solid 1px $dark-green;
                background-color: #fff;
            }
        }
    }
    .listing {
        background-color: #fff;
        overflow-y: auto; max-height: 100em;
        li { 
            margin: calc($base-margin/2); 
            box-shadow: $box-shadow;
            a { padding:0;}
            img { 
                display:block; 
                background-color: $base-pink; padding: 10px 40px 10px 10px; width:unset; box-sizing: content-box;
                clip-path: polygon(0 0, 0 100%, 100% 100%, 80% 0);
                min-height: 100%;
            }
            .details {
                align-items: flex-end; justify-content: flex-end;              
                margin: 0 0 0 -40px; z-index: 1000; padding:0;

                .event-time,
                .event-name { 
                    color: #fff;
                    background-color: $base-pink; 
                    text-align: right;
                }
                .event-name { 
                    font-size: 1.2em; 
                    margin-right: 20px; width: calc(100% - 20px); 
                    margin-bottom:-1px;
                    min-height: 3em;
                    clip-path: polygon(0 0, 0 100%, 100% 100%, calc(100% - 37px) 0);
                    padding: 10px 50px 0px 20px; display: flex;
                    align-items: flex-end; justify-content: flex-end;
                    font-family: $header-font;

                } 
                .event-time { font-size: 1em; width:100%; 
                    clip-path: polygon(0 0, 0 100%, 100% 100%, calc(100% - 20px) 0);
                    padding: 10px 30px 10px 10px; text-transform: lowercase;
                }
                .icons { display:none; }
                
            }
        }
        li.no-events { 
            box-shadow: unset;
        }
    }
    
}