/* Stylesheet work by Adam Bardsley Dec 2020 */

/* File: 001 subsite general */

/* General Usage */
:root {
  --light-blue: #81BDD5;
  --main-blue: #3889AB;
  --dark-blue: #094E6A;
  --main-yellow: #FFDE59;
  --dark-yellow: #D29E00;
  --main-pink: #d53a96;
  --light-pink: #f78dcb;
  --main-green: #498c5a;
  --dark-pink: #6a2269;
  --dark: rgba(10,10,10,0.85);
}

/* Resets */

#union-event-id-157965 { margin-top:0; }
#union-event-id-157965 * { box-sizing: border-box; }
#union-event-id-157965 #union-logo,
#union-event-id-157965 #union-logo h1,
#union-event-id-157965 .header-wrap,
#union-event-id-157965 .search,
#union-event-id-157965 .page-search,
#union-event-id-157965 .search-box-wrapper,
#union-event-id-157965 .cart-account,
#union-event-id-157965 .page-search .search-box .search-box-wrapper .search-button{ 
  position:unset; left:unset; right:unset; top:unset; bottom:unset; 
  width:unset; height:unset;
  margin:unset; padding:unset; 
}

#union-event-id-157965 #union-logo h1 img,
#union-event-id-157965 .social-media,
#union-event-id-157965 .uc-leaderboard-advertisement,
#union-event-id-157965 .tree-navigation, 
#union-event-id-157965 .top-container { display:none !important;}

#union-event-id-157965 .event-details-wrapper,
#union-event-id-157965 .event-cms-wrapper { margin:unset; }

.sub-site-page-html .content, .sub-site-home-html .content { padding-top:0; }

#union-event-id-157965 #union-logo h1 a::before { content: 'Return to HISA Homepage'; }
#union-event-id-157965 #union-logo h1 { color: #fff; letter-spacing: 0.05em; font-size: 1em; font-weight: normal; }

#union-event-id-157965 .row.header { border-color: red; }
#union-event-id-157965 #student_view_notice { border-color: orange; }
#union-event-id-157965 .uc-leaderboard-advertisement { border-color: yellow; }
#union-event-id-157965 .row.content { border-color: lime; }
#union-event-id-157965 .left-nav-content { border-color: green;}

/* Update the widths to be 100% */
#union-event-id-157965 .row.header,
#union-event-id-157965 .row.content,
#union-event-id-157965 .ninecol
{ width:100%; float:unset; }
#union-event-id-157965 .content-wrap.ninecol > div { padding:0; }

/* Header */
#union-event-id-157965 .row.header { padding:0; }
#union-event-id-157965 .header-wrap * { float:unset;}
#union-event-id-157965 .header-wrap {
  background-color: var(--dark-blue); color: #fff;
  padding: 0.6em;
}

#union-event-id-157965 .header-wrap { display:flex; flex-grow: 1;}
#union-event-id-157965 .search.page-search, #union-event-id-157965 .clear{ display:none;}
#union-event-id-157965 .header-wrap>* { flex-grow:1}
#union-event-id-157965 .cart-account { display:flex; }
#union-event-id-157965 .item-count { width: 2rem;}
#union-event-id-157965 .cart-account { width: auto;}
#union-event-id-157965 .profile-setting {flex-grow: 1; }
#union-event-id-157965 .profile-setting .profile-name-wrapper { width:unset; }
#union-event-id-157965 .profile-setting a.profile-name,
#union-event-id-157965 .profile-drop-down-menu { height:auto;}

#union-event-id-157965 #union-logo a { text-decoration: none; display:block; color: inherit; }
#union-event-id-157965 #union-logo a h1 { display:block; font-size: 1em; font-weight:normal; letter-spacing: 0.1em;  padding:unset; color: inherit; font-family: 'CenturyGothic',Arial,sans-serif; }
#union-event-id-157965 #union-logo a h1:before { content: 'Return to ' }

