/* Debug */
/* .row.header .header-wrap > div { border: solid 1px green;} */
/* .row { border: solid 1px red; }  */
/* .row.header .header-wrap>* { border: solid 1px red; } */

/* Removed as not used  */
.uc-mob-src-close-icon, .uc-mob-src-icon,
.cart-account .shopping-cart-menu,
.clear { display:none; }

/* Variables */ 
:root {
  --brand-teal: #73afb7;
  --brand-blue: #556390;
  --brand-text: #fff;
  --brand-backing: #c4e6e3;
}

/* Accesibbility */

#skiplink-container { text-align: center; background: var(--brand-blue); color: var(--brand-text); }
#skiplink-container div { text-align: left; margin: 0 auto; max-width: 960px; }
#skiplink-container .skiplink { display: -moz-inline-stack; display: inline-block; margin: 0.75em 0 0 30px; }
.skiplink { position: absolute; left: -9999em; }

#hidden-homepage p { margin:0; padding:0; } /* On hompage add a content anchor to skip menus, branding and adverts */

/* Structure Mobile First */

body { 
  padding:0; margin:0; 
  font-family: sans-serif;
}
html * { box-sizing: border-box; }

.row.header { background: var(--brand-backing);}
.row.header .header-wrap { 
  display: flex; max-width: 100%; flex-wrap: wrap;
  padding: 30px 10px 10px;
/*   justify-content: space-between; */
  justify-content: flex-end;
  align-items: flex-start;
}

.cart-account { flex-grow: 1; }

.row.header #union-logo { width: 25%; max-width: 120px; }
.row.header #union-logo h1 { margin:0; padding:0;}
.row.header #union-logo img { width: 100%; }


.row.header .cart-account { max-width: 80%; margin-left: 5%; display:flex;justify-content: flex-end;}
.row.header .system-menu { max-width: 80%; margin-left: 5%; display:flex; justify-content: flex-end; flex-grow: 10;}



/* Temp */
/* .row.bottom,
.row.content { display:none; } */
.grid-carousel { width: 100%; height: 200px;}

/* OnveVocie Branding */
.uc-poweredby-nusdigital-logo { width: 100%; padding-top: 1em;}
.uc-poweredby-nusdigital-logo-wrapper { max-width: 200px; width: 50%; margin: 0 auto; }
.uc-poweredby-nusdigital-logo-wrapper { width: 100%; }

/* Account box */
.cart-account .profile-setting { background: var(--brand-blue); width: 200px; align-self: flex-end;}
.cart-account .profile-setting .profile-name-wrapper{ padding: 0.6em 1em; border-bottom: solid 1px var(--brand-backing);}
.cart-account .profile-setting a { color: var(--brand-text); text-decoration:none; }
.cart-account .profile-drop-down-menu {  max-width: 100%; position:relative; display:none; /* <- Overridden via JS */ z-index:1000 } 
.cart-account .profile-drop-down-menu ul { padding:0; list-style-type: none; margin:0; background: var(--brand-blue); }
.cart-account .profile-drop-down-menu ul li { border-bottom: solid 1px var(--brand-backing); padding: 5px 10px}

/* Signin link */

.system-menu a { 
  color: var(--brand-text); background: var(--brand-blue); text-decoration:none;
  display:block; padding: 0.5em 1em;
}

/* Search Box */
.search { max-width: 100%; }
.search-box  {  font-size: 1em; width: 100%; padding: 0 0.5em 0 1em; }
.search-box-wrapper { display:flex; align-items: end; align-content: end; }
.search-box-wrapper > * { padding: 0.4em 1em; }
.search-box-wrapper .search-input { flex-grow:1; margin-right: 0.5em; font-size: inherit; border: 1px solid var(--brand-blue); width: 50%;}
.search-box-wrapper .search-button { font-size: 0.95em; border: 1px solid var(--brand-blue); background: var(--brand-blue); color: var(--brand-text); position:relative; top:-1px;}

/* Advertising */
.uc-leaderboard-advertisement { position: absolute; top:0; width: 100%; }
.uc-leaderboard-advertisement:after { content: 'advert'; font-size: 0.6em; background: #666; color: #fff; display:block; margin-top: -5px; padding: 1px 4px; text-align: right; }
.uc-leaderboard-advertisement a { display: block; padding:0; margin:0;}
.uc-leaderboard-advertisement img { width: 100%; height: auto; margin:0; padding:0;}
body { margin-top: 13%;}

@media screen and (min-width:737px) {
  body { margin-top: 0;}
  .wrapper { position: relative; }
  .uc-leaderboard-advertisement { 
    position: absolute; max-width: 728px; width: 75%;
    right:1em;
    top: 70px;
    height: 40px;
    max-height:100%;
  }
  .uc-leaderboard-advertisement .top-ad div,
    .uc-leaderboard-advertisement .top-ad div a { max-height:100%; height: 100%;}
  .uc-leaderboard-advertisement img { max-width: 100%; max-height:100%; }
  .uc-leaderboard-advertisement:after { display:none;}
}

/* Menu */
#top-menu-wrap { background: var(--brand-blue); padding: 1em }
#top-menu-wrap a { color: var(--brand-text); text-decoration:none; display: block; }
.phone-menu { width: 100%; display:block; }
.nav-wrap { display: none;}
.nav-wrap ul { list-style-type: none; padding:0; margin: 1em 0.5em 0 0; }
.nav-wrap ul li { padding: 0.5em 0; border-top: solid 1px rgba(255,255,255,0.2); } 

/* At this size the menu wont do the expand */
@media screen and (min-width:737px) {
  #top-menu .phone-menu { display:none; }
  #top-menu .nav-wrap { width: 100%; display:block; }
  #top-menu .nav-wrap ul { display:flex; margin-top:0; justify-content: space-evenly; }
  #top-menu .nav-wrap ul li { margin: 0 1em; padding:0; border:none;}
}
