
/*_*_*  General Styles Used across all elements of site *_*_*/

/* 
Build command to combine CSS and copy to clipboard
Should be run from dir below 'css'
- Windows: type css\*.css | clip
- OSX: cat css\*.css | pbcopy 
*/

/* Removed as not used  */
.uc-mob-src-close-icon, .uc-mob-src-icon,
.cart-account .shopping-cart-menu,
#uc-sv-content-container #uc-sv-right-panel .uc-action-link,
#uc-sv-content-container #uc-sv-right-panel .feedback
{ display:none; }
/* Removed as outdated or not for display */
.clear, .hidden, .display-none{ display:none; }

/* Variables */ 
:root {
  --brand-teal: #73afb7;
  --brand-blue: #556390;
  --brand-blue-faded: rgba(85,99,144,0.5);
  --brand-text: #fff;
  --brand-backing: #c4e6e3;
  --brand-pink: #e40177;
  --brand-pink-faded: rgba(228,1,119,0.3);
  --brand-pink-deep: rgb(44, 8, 27);
  --brand-yellow: #cadb2b;
  --brand-purple: rgb(110,1,228);
  --brand-purple-faded: rgb(212,179,247);
  --brand-purple-deep: rgb(47, 11, 92);
  --dark-backing: #333339;
  --button-orange: #e37d16;
  --notice-success: #36a852;
  --notice-error: #ce1f0d;
  --separator: rgba(255,255,255,0.2);
  
  --facebook: rgba(59,89,153 ,1 );
  --facebook-fade: rgba(59,89,153 ,0.5 );
  --twitter: rgba(85,172,238 ,1); 
  --twitter-fade: rgba(85,172,238 ,0.5); 
  --youtube: rgba(205,32,31 ,1);
  --youtube-fade: rgba(205,32,31 ,0.5);
}

/* Accesibility */

#skiplink-container { text-align: center; background: var(--brand-blue); color: var(--brand-text); }
#skiplink-container div { text-align: left; margin: 0 auto; max-width: 960px; }
#skiplink-container .skiplink { display: -moz-inline-stack; display: inline-block; margin: 0.75em 0 0 30px; }
.skiplink { position: absolute; left: -9999em; }

#hidden-homepage p { margin:0; padding:0; } /* On hompage add a content anchor to skip menus, branding and adverts */
