
/*_*_* Main Navigation Menu *_*_*/

/* Menu */
#top-menu-wrap { background: var(--brand-blue); padding: 1em }
#top-menu-wrap a { color: var(--brand-text); text-decoration:none; display: block; }
.phone-menu { width: 100%; display:block; }
.nav-wrap { display: none;}
.nav-wrap ul { list-style-type: none; padding:0; margin: 1em 0.5em 0 0; }
.nav-wrap ul li { padding: 0.5em 0; border-top: solid 1px rgba(255,255,255,0.2); } 

/* At this size the menu wont do the expand */
@media screen and (min-width:737px) {
  #top-menu .phone-menu { display:none; }
  #top-menu .nav-wrap { width: 100%; display:block; }
  #top-menu .nav-wrap ul { display:flex; margin-top:0; justify-content: space-evenly; }
  #top-menu .nav-wrap ul li { margin: 0 1em; padding:0; border:none;}
}
