
/*_*_* Onevoice Footer *_*_*/

/* OnveVoice Branding */
.uc-poweredby-nusdigital-logo { width: 100%; padding-top: 1em;}
.uc-poweredby-nusdigital-logo-wrapper { max-width: 200px; width: 50%; margin: 0 auto; }
.uc-poweredby-nusdigital-logo-wrapper { width: 100%; }

