.cart-account {
    top:37px;
}

.top,
.top-union { 
    #top-menu {
        
        height:30px;

        .menu-wrap {
            height:auto;
            top: 30px;
        }
    }
    
}

#saf-default {
    .header { 
        background-color: $base-pink;
        background-image: url('//nusdigital.s3.amazonaws.com/image/images/344154/original/header-bg.png');
    }
}