

.page-content-html #uc-page-id-podcasts-player { // Page view NOT frontpage
    #podcast-list::before { 
        content: 'Postcast Series';    
        font-size: 1.4em; margin: 1em 0 0.5em; display:block; 
    }
    #podcast-list { 
        list-style: none; padding-left:0; margin-left:0;

        li { 
            margin-bottom:1em;
            a { 
                display:block; padding: 1em; width: 100%;
                background: $base-pink;  color: $white;

            }
        }
    }
}
