/* Variables */

$base-pink: rgb(225,0,152);
$dark-pink: rgb(119,0,80);
$faded-pink: rgba(225,0,152,0.5);
$hint-pink: rgba(225,0,152,0.2);
$base-blue: rgb(0,174,199);
$dark-blue: rgb(0,71,82);
$hint-blue: rgba(0,174,199,0.5);

$base-mint: rgb(0,225,152);
$dark-mint: rgb(0, 133, 91);
$hint-mint: rgba(0,225,152,0.1);
$dark-purple: #4E0073;

$dark-orange: rgb(110, 31, 0);
$base-orange: rgb(225,150,0);
$hint-orange: rgb(249,233,202);

$base-info: rgb(68, 89, 145);
$faded-info: rgb(183, 197, 238);
$base-success: rgb(0, 131, 0);
$faded-success: rgb(130, 182, 130);
$base-danger: rgb(255,3,3);
$faded-danger: rgb(202, 132, 132);

$dark-grey: rgb(68, 68, 68); 
$base-grey: rgb(124, 124, 124); 
$hint-grey: rgb(201, 201, 201); 
$white: rgb(255,255,255);
$text-default: rgb(12,23,34);

