/* Styles for mega menu starts */
/*
.uc-mega-menu ul li a span i {
    transform: none !important;
    text-transform: uppercase;
    font-style: normal;
}

.uc-mega-menu .uc-mega-menu-wrapper > ul {
    background-color: #FF00A9 !important;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
}

.uc-mega-menu ul li a span {
    font-family: DINNextLTPro-Regular, Arial, Helvetica, sans-serif !important;
    font-size: 14pt !important;
}

.uc-mega-menu a {
    padding: 8px 0 !important;
}

.uc-mega-menu .uc-sub-mega-menu {
    padding: 20px !important;
    top: 80px !important;
    box-shadow: none !important;
    transition: transform .3s ease .1s;
    height: 300px;
}

.uc-mega-menu .uc-mm-row {
    border-top: 0 !important;
}

.uc-mega-menu .uc-mm-column h2 a, 
.uc-mega-menu .uc-mm-column h2 {
    font-size: 18px !important;
    padding: 10px 0 10px 0 !important;
    margin: 0 !important;

    &:hover {
        text-decoration: none;
    }
}

.uc-mega-menu .uc-mm-column ul li {
    margin: 0 !important;;
    list-style: none !important;
}

.uc-mega-menu ul li.uc-mm-level-one {
    padding: 20px 0 !important;
}

.uc-mega-menu .uc-mm-column h2 a, 
.uc-mega-menu .uc-mm-column h2 {
    color: #fff;
}

.uc-mega-menu .uc-mm-column ul li span, 
.uc-mega-menu .uc-mm-column ul li a {
    color: #fff !important;
    font-size: 16px !important;
    font-family: DINNextLTPro-Regular, Arial, Helvetica, sans-serif !important;
}

.uc-mm-level-one.menu-youropinion.hover,
.uc-mm-level-one.menu-youropinion.hover .uc-sub-mega-menu  {
    background-color: #ed1c24;
    color: #fff !important;
}

.uc-mm-level-one.menu-youropinion.hover .uc-sub-mega-menu:after {
    font-family: DINNextLTPro-Regular, Arial, Helvetica, sans-serif !important;
    content: "YOUR AWARD WINNING STUDENTS' UNION";
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 36px;
    width: 450px;
    text-align: right;
    font-style: italic;
}

.uc-mm-level-one.menu-yourunion.hover,
.uc-mm-level-one.menu-yourunion.hover .uc-sub-mega-menu  {
    background-color: #ed1c24;
    color: #fff !important;
}

.uc-mm-level-one.menu-yourunion.hover .uc-sub-mega-menu:after {
    font-family: DINNextLTPro-Regular, Arial, Helvetica, sans-serif !important;
    content: "YOUR AWARD WINNING STUDENTS' UNION";
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 36px;
    width: 450px;
    text-align: right;
    font-style: italic;
}

.uc-mm-level-one.menu-oppotunities.hover,
.uc-mm-level-one.menu-oppotunities.hover .uc-sub-mega-menu  {
    background-color: #39b549;
    color: #fff;
}

.uc-mm-level-one.menu-oppotunities.hover .uc-sub-mega-menu:after  {
    font-family: DINNextLTPro-Regular, Arial, Helvetica, sans-serif !important;
    content: "JOIN A VOLUNTEERING PROJECT \A - THEY'RE FREE TO JOIN! ";
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 36px;
    width: 600px;
    text-align: right;
    font-style: italic;
    white-space: pre;
}

.uc-mm-level-one.menu-opportunities.hover,
.uc-mm-level-one.menu-opportunities.hover .uc-sub-mega-menu  {
    background-color: #2e5bff;
    color: #fff;
}

.uc-mm-level-one.menu-opportunities.hover .uc-sub-mega-menu:after  {
    font-family: DINNextLTPro-Regular, Arial, Helvetica, sans-serif !important;
    content: "JOIN A SPORT CLUB, \A SOCIETY OR VOLUNTEERING PROJECT \A - THEY'RE FREE TO JOIN! ";
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 36px;
    width: 600px;
    text-align: right;
    font-style: italic;
    white-space: pre;
}

.uc-mm-level-one.menu-representation.hover,
.uc-mm-level-one.menu-representation.hover .uc-sub-mega-menu  {
    background-color: #8f177d;
    color: #fff;
}

.uc-mm-level-one.menu-representation.hover .uc-sub-mega-menu:after  {
    font-family: DINNextLTPro-Regular, Arial, Helvetica, sans-serif !important;
    content: "WE'RE HERE \A TO REPRESENT YOU";
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 36px;
    width: 450px;
    text-align: right;
    font-style: italic;
    white-space: pre;
}

.uc-mm-level-one.menu-academic.hover,
.uc-mm-level-one.menu-academic.hover .uc-sub-mega-menu  {
    background-color: #ff00a9;
    color: #fff;
}

.uc-mm-level-one.menu-academic.hover .uc-sub-mega-menu:after  {
    font-family: DINNextLTPro-Regular, Arial, Helvetica, sans-serif !important;
    content: "FREE PROFESSIONAL \A ACADEMIC ADIVCE";
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 36px;
    width: 450px;
    text-align: right;
    font-style: italic;
}

.uc-mm-level-one.menu-umcb.hover,
.uc-mm-level-one.menu-umcb.hover .uc-sub-mega-menu  {
    background-color: #89171e;
    color: #fff;
}

.uc-mm-level-one.menu-umcb.hover .uc-sub-mega-menu:after  {
    font-family: DINNextLTPro-Regular, Arial, Helvetica, sans-serif !important;
    content: "UNDEB MYFYRWYR CYMRAEG BANGOR";
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 36px;
    width: 450px;
    text-align: right;
    font-style: italic;
}*/

/* Styles for mega menu ends */
/*
.uc-mega-menu-wrapper {
  .uc-mm-level-one.menu-youropinion {
      .uc-sub-mega-menu {
          background: #ed1c24 !important;
          padding: 0 15px !important;
      }
  }

  .uc-mm-level-one.menu-yourunion {
      .uc-sub-mega-menu {
          background: #ed1c24 !important;
          padding: 0 15px !important;
      }
  }

  .uc-mm-level-one.menu-oppotunities  {
      .uc-sub-mega-menu {
          background: #39b549 !important;
          padding: 0 15px !important;
      }
  }

  .uc-mm-level-one.menu-opportunities  {
      .uc-sub-mega-menu {
          background: #2e5bff !important;
          padding: 0 15px !important;
      }
  }

  .uc-mm-level-one.menu-representation   {
      .uc-sub-mega-menu {
          background: #8f177d !important;
          padding: 0 15px !important;
      }
  }

  .uc-mm-level-one.menu-academic {
      .uc-sub-mega-menu {
          background: #ff00a9 !important;
          padding: 0 15px !important;
      }
  }

  .uc-mm-level-one.menu-umcb {
      .uc-sub-mega-menu {
          background: #89171e !important;
          padding: 0 15px !important;
      }
  }
}

*/