/* ==================
   ATMOSPHERE SUBSITE
   ================== */

// #salford-atmosphere #unioncloud-sub-site-option .top-subsite-wrap {
//     margin-bottom: 40px;
// }

// #salford-atmosphere .vegetarian,
// #salford-atmosphere .gluten,
// #salford-atmosphere .nuts,
// #salford-atmosphere .halal {
//     line-height: 24px;
//     width: 24px;
//     display: inline-block;
//     color: $white;
//     font-weight: 600;
//     background: #000;
//     text-align: center;
//     border-radius: 12px;
// }

// #salford-atmosphere .vegetarian {
//     background: $advice-medium;
// }

// #salford-atmosphere .gluten {
//     background: $student-voice-base;
// }

// #salford-atmosphere .nuts {
//     background: #E64A19;
// }

// #salford-atmosphere .halal {
//     background: #00BCD4;
// }

// #salford-atmosphere .menu-item {
//     border: 1px solid $offers-light-other;
//     padding: 15px 20px;
//     margin-bottom: 20px;
//     position: relative;
// }

// #salford-atmosphere .default-body .menu-item h3 {
//     padding-right: 100px;
//     margin: 0;
//     font-size: 24px;
//     line-height: initial;
// }

// #salford-atmosphere .default-body .menu-item h4 {
//     position: absolute;
//     right: 20px;
//     top: 15px;
//     color: #0277BD;
//     font-size: 24px;
// }

// #salford-atmosphere .default-body .menu-item p {
//     margin: 0.8em 0 0 0;
// }

/* Atmosphere the pitch navigation changes */

li#black-navigation-menu-wrapper a#top-nav-level-one-black-navigation {
    color: #000000;
}

#top-navigation ul li#black-navigation-menu-wrapper .top-menu-name-wrapper:before {
    background: #e2e2e2;
    border-color: #000000;
}

#salford-atmosphere {
    background: $atmosphere-grey;
    body { background: $atmosphere-grey; }

    .unioncloud-sub-site-option .row.content,
    .wrapper {
        background-color: $atmosphere-grey;
    }

    #hero-image {
        margin-bottom: 0;
        .hero {
            padding: 3em;
            background-color: $atmosphere-grey;
            background-image: url('https://nusdigital.s3.amazonaws.com/image/images/361920/original/Untitled_design_Blank.jpg');
            background-repeat: none;
            background-size: cover;
            background-position-x: 50%;
            background-position-y: 50%;
            height: 400px;
            display: flex; flex-direction: column; justify-content: center;
            img {
                display: block;
                width: 400px;
                margin: 5em auto;
            }
        }
    }

    #section-head {
        background-color: $atmosphere-grey;
        margin-top: 0;
        // background-image: linear-gradient( #{$atmosphere-grey} 55%,#000);        
    }
    .header,
    #top-navigation {
        background-color: #000;
    }
    #union-logo {
        filter: invert(1);
    }
    .top,
    .top-union {
        border-color: #fff;
    }
    li#black-navigation-menu-wrapper a#top-nav-level-one-black-navigation {
        color: white;
    }

    .row.content { 
        background: $atmosphere-grey;

        h1,h2,h3 {
            background: $atmosphere-grey; 
            color: #ddd;
        }
        a { color: $atmosphere-gold; border-bottom: solid 1px $atmosphere-gold; }
    }
    .unioncloud-sub-site-option .row.content a { border:none; }

    #main-menu {
        padding: 25px 0;
        margin: 0;
        background-color: $atmosphere-grey;
        background-image: linear-gradient(#0c0c0c, $atmosphere-grey 85%);
        ul {
            text-align: right;
            font-size: 0;
            position: relative;
            li {
                float: none;
                display: inline-block;
                font-size: 17px;
                font-family: "museo-sans", Arial, Helvetica, sans-serif;
                font-weight: 300;
                .top-menu-name-wrapper {
                    position: relative;
                }
                .top-menu-name-wrapper:before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    background: $white;
                    transition: height 0.2s ease;
                }
                span {
                    background: none;
                    padding: 0;
                }
                a,
                span a {
                    color: $white;
                    line-height: 40px;
                    padding: 0 10px;
                    position: relative;
                    transition: color 0.2s linear;
                    z-index: 2;
                }
                a:hover {
                    color: #0c0c0c;
                }
                .top-submenu-wrapper {
                    display: none;
                }
            }
            li:before {
                background: $white;
            }
            li:hover:before {
                height: 100%;
            }
            li:hover .top-menu-name-wrapper:before {
                height: 100%;
            }
            #home-menu-wrapper {
                position: absolute;
                left: 0;
                top: 0;
                a {
                    height: 40px;
                    width: 264px;
                    padding: 0;
                    background: url("//s3-eu-west-1.amazonaws.com/nusdigital/image/images/117984/optimized/atmosphere-logo.png")
                        center no-repeat;
                    background-size: auto 40px;
                    font-size: 0;
                }
            }
            #home-menu-wrapper:before {
                display: none;
            }
        }
    }


    .default-body .block-menu li,
    .block-menu {
        display: flex;
        li {
            background-color: #353333;
            width:50%;
            height:auto;
            a {
                color: #fff;
                img {
                    width: 100% !important;
                    height: auto !important;
                    border-color: $atmosphere-gold;
                }
            }
            padding-bottom:1em;

        }
    }
    .default-body table th,
    .default-body table td {
        background: $atmosphere-grey;
        border-color: $atmosphere-gold;
    }
    .default-body table th { background-color: #000; }
    .default-body table tr:nth-child(even) td {
        background-color: #000;
    }
    
    body { color: #fff; }

    #union-logo a {
        background-image: url(//nusdigital.s3.amazonaws.com/union_logo/images/41/original/Union_400_px.jpg);
    }
    #top-navigation ul li#atmosphere-menu-wrapper a {
        color: $white;
    }
}
