$welcome-dark: #26276a;
$welcome-light: #2c367e;
$welcome-background: #a1a6cc;
$welcome-touch: #e7e9f7;
#salford-careers {
  body {
    background: red;
  }

  #hero-image .hero {
    padding: 3em 3em 0em 3em;
  }

  #introduction {
    text-align: center;
    h1 {
      color: #fff;
      background: none;
    }
  }
  #values {
    h2 {
      text-align: center;
    }
  }
  .circles,
  #circles {
    max-width: 1440px;
    margin: 0 auto;
    .clear {
      display: none;
    }
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .uc-page-wrap,
      .edit-mode-page {
        width: 250px;
        height: 250px;

        position: relative;
        margin: 0 1em;
        .edit-mode-page {
          margin: 0;
        }

        .text::before {
          content: "";
          width: 50%;
          height: 100%;
          float: left;
          text-align: center;
          shape-outside: polygon(
            0 0,
            98% 0,
            50% 6%,
            23.4% 17.3%,
            6% 32.6%,
            0 50%,
            6% 65.6%,
            23.4% 82.7%,
            50% 94%,
            98% 100%,
            0 100%
          );
          shape-margin: 12%;
        }
        .text {
          font-size: 2em;
          padding: 0;
          width: 100%;
          height: 100%;

          background: radial-gradient(
            ellipse at center,
            $brand-gold 0%,
            $brand-gold 70%,
            rgba(0, 128, 172, 0) 70.3%
          );
          position: relative;
          margin: 0;
          color: white;
          .innards {
            height: 100%;
            font-size: 21px;
            line-height: 1.25;
            padding: 0;
            p {
              text-align: center;
            }
            font-style: italic;
            text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
            h3 {
              text-align: center;
              font-size: 1.3em;
              line-height: 1em;
              color: #fff;
              margin-bottom: 0.2em;
            }
          }
          .innards::before {
            content: "";
            width: 50%;
            height: 100%;
            float: right;
            shape-outside: polygon(
              2% 0%,
              100% 0%,
              100% 100%,
              2% 100%,
              50% 94%,
              76.6% 82.7%,
              94% 65.6%,
              100% 50%,
              94% 32.6%,
              76.6% 17.3%,
              50% 6%
            );
            shape-margin: 12%;
          }
        }
        .text.blue {
          background: radial-gradient(
            ellipse at center,
            $brand-blue 0%,
            $brand-blue 70%,
            rgba(0, 128, 172, 0) 70.3%
          );
        }
      }
      .edit-mode-page::before,
      .uc-page-wrap::before {
        content: "\201C";
        font-size: 210px;
        height: 82px;
        line-height: 0.78;
        line-height: 1;
        position: absolute;
        top: -18px;
        left: 0;
        z-index: 1;
        font-family: sans-serif, serif;
        color: #ccc;
        opacity: 0.9;
      }
    }
  }

  .block-menu {
    li {
      background: #fff;
      img {
        margin-bottom: -5px;
      }
    }
    h3 {
      color: #fff;
      font-size: 2em;
      width: 100%;
      padding: 0.5em 0.7em 0.5em 0.5em;
      margin-bottom: 0.5em;
      box-sizing: border-box;
      background-color: $welcome-dark;
    }
    p {
      padding: 0 1em;
      font-weight: normal;
    }
  }
  #vacancies h2 {
    text-align: center;
  }
  #vacancies-wrap {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    > div {
      min-width: 300px;
      max-width: 400px;
      background: #fff;
      margin: 1em;
      a {
        display: block;
        padding: 1em;
        .page-details {
          width: 100%;
          float: unset;
          .page-title {
            font-weight: bold;
            font-size: 1.4em;
          }
          .custom-title {
            font-size: 1.1em;
            color: black;
            font-weight: normal;
          }
        }
      }
    }
    .clear {
      display: none;
    }
  }
}
