#calendar-at-bottom {
    margin: 0 2em;
}
.cal-widget > * {
    flex-basis: unset;
}
#uc-page-id-events #uc-event-calendar-widget-194171 {
    .calendar {
        width: 400px;
        flex-grow: unset;
    }
    caption {
        background: #e91e63;
        font-weight: bold;
        font-size: 1.2em;
    }

    th,
    #uc-page-id-events #uc-event-calendar-widget-194171 tbody * {
        color: #e91e63;
    }
    .date:after {
        background: #e91e63;
    }
    .listing {
        list-style: none;
    }
    .listing li {
        list-style: none;
        padding: 0;
        margin: 0 0 0 10px;
    }
}
