// General Reset 
.content .row .content-wrap ul  ,
.column .column-content { font-size: 1em; }
p, s.content .row .content-wrap p { font-size: 1em; line-height: 1.4em; }
.contentContainer { padding-top: 2em; }
h1,h2,h3,h4 { color: $text-default;}