/* Variables */

$base-info: rgb(68, 89, 145);
$faded-info: rgb(183, 197, 238);
$base-success: rgb(0, 131, 0);
$faded-success: rgb(130, 182, 130);
$base-danger: rgb(255, 3, 3);
$faded-danger: rgb(202, 132, 132);
$black: rgb(10, 10, 10);
$dark-grey: rgb(68, 68, 68);
$base-grey: rgb(124, 124, 124);
$hint-grey: rgb(201, 201, 201);
$white: rgb(255, 255, 255);
$text-default: rgb(12, 23, 34);

/* Site Section Colours */

$student-voice-base: #9C27B0;
$student-voice-light-bg: #F3E5F5;
$student-voice-dark: #7B1FA2;
$student-voice-medium: #E1BEE7;
$activities-base: #FF8F00;
$activities-light-bg: #FEF7E9;
$activities-medium: #F9B224;
$activities-light-other: #f5f0e7;
$events-base: #E91E63;
$events-light-bg: #FCE4EC;
$events-dark: #C2185B;
$events-light-other: #F8BBD0;
$advice-base: #689F3B;
$advice-light-bg: #E7F3D9;
$advice-medium: #8BC34A;
$volunteering-base: #FF5722;
$volunteering-light-bg: #FBE9E7;
$offers-base: #03A9F4;
$offers-light-bg: #F1F5FE;
$offers-light-other: #B3E5FC;
$elections-base: #E44336;
$elections-light-bg: #FFEBEE;
$elections-dark: #D32F2F;
$elections-medium: #DC4034;
$brand-orange: #F44336;
$brand-blue: #0050A0;
$brand-blue-bg: #E6EEF6;
$brand-blue-bright: #0066CC;
$brand-navy: #263238;
$brand-gold: #f7b10e;
$brand-gold-light: #ffdd8f;
$brand-gold-light-bg: #fff7e0;