#main-menu .nav-wrap  {
}
#main-menu .nav-wrap li a {
    font-family: 'lineto-circular-black', sans-serif;
     font-size: 0.9em;
  }
/* To change the size of the single item menu blocks */
#main-menu .nav-wrap li div > a {
    font-size: 1.4em;
}
/* Only target the main menu not submenus */
#main-menu.menu>.menu-wrap>.nav-wrap>ul { display:flex; }
#main-menu.menu>.menu-wrap>.nav-wrap>ul li { float:unset; flex-grow: 1;}

#main-menu #searchscreenurl-menu-wrapper { display:none; }