/* Helpful Debug */

/* .wrapper>div { border: solid 1px #ccc !important; }
.row.header { border-color: red !important; }
.row.top { border-color: orange !important; }
.row.content { border-color: yellow !important;}
.row.bottom { border-color: greenyellow !important;}
 */